html{
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
}


body {
    background-color:#021148;
    width: 100%;
    height: auto;
}

h1 {
    color:#4866BC;
    text-align: center;
    font-family: 'Pricedown';
    font-size: 2.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 2;
    font-weight: bold;
}

h1.titulo {
    color:#4866BC;
    text-align: center;
    font-family: 'Allura', sans-serif;
    font-size: 3.8em;
    padding-top: 10px;
    padding-bottom: 2px;
    line-height: 2;
    font-weight: bold;  
}

.banner {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    background-color:#593484;
}

.menuelogo_fixados_contato {
    width: 100%;
    background-color: #5a4ec5;
}

nav {
    text-align: center;
    color: #021148;
    font-size: 1.5em;
}

.container_banner {
    background-color: #021148;
    width: 100%;
    height: auto;
    padding-left: 0%;
    padding-left: 0%;
}

.container_meio {
    background-color: #021148;
    width: 100%;
}

.container_personagens {
    background-color: #021148;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.container_tabela {
    background-color: #021148;
    width: 100%;
}

footer {
    background-color: rgb(33, 18, 94);
    width: 100%;
}

.img1 {
    float: left;
}

.linha, .row-sections{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center; 
    width: 100%;
    height: 100%;   
}

.col-6 {
    padding-top: 2%;
    width: 50%;
}

a:hover {
    text-decoration: none;
    color: rgb(43, 17, 85);
    }


.img1 {
        padding-left: 2%;
        padding-right: 2%; 
      }

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }      
      


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .linha {
      flex-direction: column;
    }

    .col-6 {
        width: 100%;
    }
  }

.videocard {
    background-image: linear-gradient(to right, #000000 , #000000);
    width: 90%;
    border-style:double;
    border-color: #4337ed;;
    border-width: 5px;
    transition: 0.3s; 
    margin-left: 5%;  
}

.textocard{
    background-image: linear-gradient(to right, #050511 , #021148);
    width: 90%;
    transition: 0.3s;   
    border-style: ridge;
    border-color: #4337ed;
    border-width: 5px;
    font-size: 1.5em;
    margin-left: 5%;
    font-family: 'Shadows Into Light Two', sans-serif;
}

h1.textocard {
    color: #3780ed;;
    font-size: 1.5em;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 1px;
    font-family: 'Mooli', sans-serif;
}
  
td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    font-family: 'Mooli', sans-serif;
}
  
tr {
    background-color: #5a4ec5;
}

.tabela {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}  

.listasmeio li{
    line-height: 1.5;
    font-size:1.3rem ;
}


.listasmeio{
   list-style-image: url();
   text-align: center;
}

p {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5;
    font-size: 1.3em;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    color: #4866BC;
    font-family: 'Mooli', sans-serif;
}


.iconeinstagram {
    width: 7%;
}

.iconegithub{
    width: 7%;
}

.personagenscard{
    width: 90%;
    border-style: double;
    border-color: #4337ed;
    border-width: 5px;
    transition: 0.3s;  
    background-color: #01040c; 
    margin-left: 5%;
}

.imgcoralinepersonagem {
    width: 70%;
    height: auto;

}

.imgoutramaepersonagem {
    width: 66.3%;
    height: auto;
}

.imgwybiepersonagem {
    width: 44.3%;
    height: auto;
}

.textocardwybie {
    width: 81%;
    height: auto;
}

.imgoutropaipersonagem {
    width: 38.8%;
    height: auto;
}

.imgmaepersonagem {
    width: 43%;
    height: auto;
}

.imgpaipersonagem {
    width: 48.8%;
    height: auto;
}

.imgsrbobinskypersonagem {
    width: 68.9%;
    height: auto;
}

.imgvizinhaspersonagem{
    width: 79%;
    height: auto;
}

.imggatopersonagem {
    width: 71%;
    height: auto;
}

.imgcriancaspersonagem {
    width: 35%;
    height: auto;
}
.coralineepaiimg, .coralineportaimg{
    width: 75%;
    height: auto;
    border-style: dotted;
    border-color: #4866BC;
}

.producaoimg1 {
    width: 67%;
    height: auto;
    margin-left: 10%;
    border-style: dotted;
    border-color: #4866BC;
}

.producaoimg2 {
    width: 67%;
    height: auto;
    margin-right: 10%;
    border-style: dotted;
    border-color: #4866BC;
}

.col-25 {
    width: 25%;
    float: left;
    margin-top: 8px;
}

.col-75 {
    width: 75%;
    float: left;
    margin-top: 8px;
}

.contato {
    background-color: #5a4ec5;
    padding: 3%;
    border-radius: 9px;
    margin: 1%;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}

input[type=text],
select,
textarea,
input[type=cel],
input[type=email] {
    width: 85%;
    padding: 10px;
    border: 2px solid #5a4ec5;
    border-radius: 25px;
    resize: vertical;
}

input[type=submit] {
    background-color: #5a4ec5;
    color: rgb(5, 11, 89);
    padding: 10px 20px;
    border: 2px solid #5a4ec5;
    border-radius: 15px;
    cursor: default;
}

input[type=submit]:hover {
    background-color: rgb(5, 11, 89);
    color: #000000;
    font-weight: bolder;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

label {
    padding: 10px 10px 10px 0;
    display: inline-block;
}

.enviar {
    margin-top: 2%;
}

.menuelogo_fixados, .menuelogo_fixados_contato {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}

.logo {
    text-align: left;
    font-size: 0.2em;
    padding-left: 1%;
}

.menuitem {
    font-family: 'Shadows Into Light Two', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #000000;
}

@media screen and (min-width: 601px) {
    header {
        flex-direction: row;
    }

    .itensmenu {
        position: absolute;
        right: 3%;
        top: 40%;
        width: 75%;

    }

    .itensmenu ul li {
        display: inline;
        margin-left: 1%;


    }

    .banner {
        padding-top: 15%;
    }

    .logo-topo {
        padding-top: 1%;
        width: 20%;
        padding-bottom: 1%;
        text-align: left;
    }

    
}

@media screen and (max-width:800px) {

    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    .contato{
        flex-direction: column;
    }

    .banner {
        margin-top: 42.5%;
    }

    .container_banner{
        margin-top: 13%;
    }

    .logo-topo {
        padding-top: 1%;
        text-align: center;
        width: 30%;
    }

    .producaoimg1 {
        margin-left: 0%;
    }

    .producaoimg2 {
        margin-right: 0%;
    }

    .col-25, .col-75, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }

}

.p1 {
    padding-bottom: 0.3em;
}

.p2 {
    padding-top: 0.3em;
}

.p3 {
    padding-bottom: 0.3em;
    padding-top: 1.5em;
}

.p4 {
    padding-top: 0.3em;
}

.p5 {
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

.p6 {
    padding-top: 0.3em;
}

.passos {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.stopmotionimg1 {
    width: 60%;
    height: auto;
}

.stopmotionimg2 {
    width: 60%;
    height: auto;
}

.filmesstopmotion {
    width: 50%;
    height: auto;
    margin-left: 25%;
}
.footerp {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5;
    font-size: 1.3em;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    color: #000000;
}

.titulo_tabela {
    font-weight: bold; 
}