html{
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
}


body {
    background-color:rgb(88, 65, 180);
    width: 100%;
    height: auto;
}

h1 {
    color:rgb(60, 29, 181);
    text-align: center;
    font-family: 'Pricedown';
    font-size: 2.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 2;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    background-color: rgb(60, 29, 181);
}

.logo {
    text-align: center;
    color: rgb(47, 22, 146);
    font-size: 1.5em;
}

nav {
    text-align: center;
    color: rgb(60, 29, 181);
    font-size: 1.5em;
}

.container_banner {
    background-color: rgb(38, 18, 119);
    width: 100%;
    height: auto;
    padding-left: 0%;
    padding-left: 0%;
}

.container_meio {
    background-color: rgb(27, 17, 66);
    width: 100%;
    height: auto;

}

footer {
    background-color: rgb(33, 18, 94);
    width: 100%;
}

.img1 {
    float: left;
}

.linha, .row-sections{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center; 
    width: 100%;
    height: 100%;   
}

.col-6 {
    padding-top: 2%;
    width: 50%;
}

a:hover {
    text-decoration: none;
    color: rgb(43, 17, 85);
    }


.img1 {
        padding-left: 2%;
        padding-right: 2%; 
      }

ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }      
      


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .linha {
      flex-direction: column;
    }

    .col-6 {
        width: 100%;
    }
  }

.videocard {
    background-image: linear-gradient(to right, #0d043f , #1c074b);
    width: 90%;
    border-style: double;
    border-color: #16074d;
    border-width: 5px;
    box-shadow: 15px 15px 15px 2px rgba(2, 2, 103, 0.824);
    transition: 0.3s; 
    margin-left: 5%;  
}

.textocard{
    background-image: linear-gradient(to right, #1010eb , #1010eb);
    width: 90%;
    box-shadow: 15px 15px 15px 2px rgba(32, 74, 227, 0.623); 
    transition: 0.3s;   
    border-style: double;
    border-color: #4337ed;
    border-width: 5px;
    font-size: 0.5em;
    margin-left: 5%;
}

h1.textocard {
    color: #0d043f;
    font-size: 0.5em;


}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 1px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #19169b;
  }

  .listasmeio li{
    line-height: 1.5;
    font-size:1.3rem ;
}


.listasmeio{
   list-style-image: url();
   text-align: center;
}

p {
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 1.5;
    font-size: 1.3em;
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    color: #020014;
}

h1{
    color: #0d043f;
}

.personagenscard{
    width: 90%;
    border-style: double;
    border-color: #16074d;
    border-width: 5px;
    box-shadow: 15px 15px 15px 2px rgba(2, 2, 103, 0.824);
    transition: 0.3s;  
    background-color: #020014; 
    margin-left: 5%;
}

.imgcoralinepersonagem {
    width: 70%;
    height: auto;

}

.imgoutramaepersonagem {
    width: 66.3%;
    height: auto;
}

.imgwybiepersonagem {
    width: 44.3%;
    height: auto;
}

.textocardwybie {
    width: 81%;
    height: auto;
}

.imgoutropaipersonagem {
    width: 38.8%;
    height: auto;
}

.imgmaepersonagem {
    width: 43%;
    height: auto;
}

.imgpaipersonagem {
    width: 48.8%;
    height: auto;
}

.imgsrbobinskypersonagem {
    width: 68.9%;
    height: auto;
}

.imgvizinhaspersonagem{
    width: 79%;
    height: auto;
}

.imggatopoersonagem {
    width: 39%;
    height: auto;
}

.imgcriancaspersonagem {
    width: 60%;
    height: auto;
}

.formulario{
    background-color: #592A0E;
    
 }
 .organizar{
    background-color: #8d7283;
    text-align: center;
 }
 .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
}